In [1]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

## Mark Six

#### ToDo

1. 最长连续出了多少期；
2. 最长连续多少期没有出 - Done

In [2]:
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
import os
import sys
import pandas as pd
from datetime import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option("max_column", 100)
pd.set_option("max_row", 200)
sns.set_style("whitegrid")
sns.set_palette("Blues_r", 12)
plt.rcParams['font.sans-serif']=['SimHei'] #用来正常显示中文标签
import warnings
warnings.filterwarnings("ignore")
import matplotlib
# print(matplotlib.matplotlib_fname())
%matplotlib inline
# %pwd

In [ ]:
def read_data(year, file="data_00_18.xlsx"):
    df = pd.read_excel(file, sheet_name=str(year)).dropna().reset_index(drop=True).drop_duplicates()
    try:
        df.drop("总和单双", axis=1, inplace=True)
    except:
        pass
    df.期数 = [x[:-1] for x in df.期数.values]
    df.特头 = [x[:-1] for x in df.特头.values]
    df.尾数 = [x[:-1] for x in df.尾数.values]
    df.合单双 = [x[-1] for x in df.合单双.values]
    df.家野 = [x[:-1] for x in df.家野.values]
    df.门数 = [x[:-1] for x in df.门数.values]
    df.段位 = [x[:-1] for x in df.段位.values]
    df.色肖 = [x[:-1] for x in df.色肖.values]
    df.笔画 = [x[:-1] for x in df.笔画.values]
    
    return df

In [ ]:
for year in range(2018, 2000-1, -1):
    if year == 2018:
        df_now = read_data(year)
    else:
        df = read_data(year)
        df_now = pd.concat([df_now, df])
        
df_now.reset_index(inplace=True, drop=True)

# df_now.to_csv("data_00_18.csv")
# df_now.iloc[140:145, :]

###   2000 - 2018年144期数据统计

---

In [3]:
df_now = pd.read_csv("data_00_18.csv").loc[:, "搅珠日期":]
df_now.搅珠日期 = pd.to_datetime(df_now.搅珠日期).dt.date
df_now.特码 = df_now.特码.astype(int)
print("2000年至2018年最近期，一共开彩期数：", df_now.shape[0])
print("最近5期开彩情况：")
df_now.head()

2000年至2018年最近期，一共开彩期数： 2708
最近5期开彩情况：

,搅珠日期,期数,特码,生肖,单双,波色,大小,五行,特头,尾数,合单双,家野,门数,段位,阴阳,天地,吉凶,黑白,色肖,笔画,男女
0,2018-12-18,144,45,虎,单,红,大,水,4,5,单,野,5,7,阳,地,凶,黑,蓝,双,男
1,2018-12-15,143,22,牛,双,绿,小,水,2,2,双,家,3,4,阳,天,凶,黑,绿,双,男
2,2018-12-13,142,39,猴,单,绿,大,木,3,9,双,野,5,6,阳,天,凶,白,蓝,双,男
3,2018-12-11,141,22,牛,双,绿,小,水,2,2,双,家,3,4,阳,天,凶,黑,绿,双,男
4,2018-12-08,140,43,龙,单,绿,大,土,4,3,单,野,5,7,阴,天,吉,白,绿,单,男

In [4]:
def total_no_shows(cat, item):
    cat_list = df_now[cat].values.tolist()
    
    cnt = 1
    cnt_dict = {}
    
    for idx, i in enumerate(cat_list):

        if i == item:
            if cnt not in cnt_dict:
                cnt_dict[cnt] = [idx]
            else:
                cnt_dict[cnt].append(idx)
            cnt = 1
            
        else:
            cnt += 1
            
    max_list = sorted(list(cnt_dict.keys()), reverse=True)[:10]
    print(item)
    
    for cnt in max_list:
        print(cnt, df_now.loc[cnt_dict[cnt], "搅珠日期"].apply(lambda x: str(x.year)+"-"+str(x.month)+"-"+str(x.day)).values)
    return cnt_dict

In [29]:
print("2000首期～2018年144期：【生肖】最多连续不出现次数前十举例")
# print(total_no_shows("生肖", "鼠"))
Ox_noShow = total_no_shows("生肖", "牛")
# print(total_no_shows("生肖", "虎"))
# print(total_no_shows("生肖", "兔"))
# print(total_no_shows("生肖", "龙"))
Snake_noShow = total_no_shows("生肖", "蛇")
# print(total_no_shows("生肖", "马"))
# print(total_no_shows("生肖", "羊"))
# print(total_no_shows("生肖", "猴"))
# print(total_no_shows("生肖", "鸡"))
# print(total_no_shows("生肖", "狗"))
# print(total_no_shows("生肖", "猪"))

2000首期～2018年144期：【生肖】最多连续不出现次数前十举例
牛
117 ['2011-7-9']
67 ['2016-5-28']
62 ['2006-11-14']
61 ['2015-12-26' '2015-6-9']
59 ['2002-1-15']
53 ['2009-8-20']
50 ['2017-11-12']
43 ['2010-2-6' '2004-6-11']
41 ['2001-6-19']
38 ['2001-1-2']
蛇
100 ['2016-12-1']
70 ['2004-2-12']
46 ['2010-12-16' '2001-7-12']
44 ['2015-7-18' '2012-8-21']
42 ['2010-3-2']
41 ['2012-3-13' '2008-8-26']
40 ['2007-2-13']
39 ['2017-12-5']
38 ['2009-3-24' '2005-11-17']
37 ['2018-9-23' '2000-1-20']

In [30]:
print("2000首期～2018年144期：【尾数】连续不出现次数一览")
tail0 = total_no_shows("尾数", 0)
tail1 = total_no_shows("尾数", 1)
tail2 = total_no_shows("尾数", 2)
tail3 = total_no_shows("尾数", 3)
tail4 = total_no_shows("尾数", 4)
tail5 = total_no_shows("尾数", 5)
tail6 = total_no_shows("尾数", 6)
tail7 = total_no_shows("尾数", 7)
tail8 = total_no_shows("尾数", 8)
tail9 = total_no_shows("尾数", 9)

2000首期～2018年144期：【尾数】连续不出现次数一览
0
76 ['2010-6-8']
66 ['2012-12-29']
56 ['2003-10-16']
54 ['2012-1-7']
46 ['2014-7-26']
42 ['2016-10-15']
38 ['2018-4-5']
37 ['2018-9-23' '2004-4-2']
36 ['2000-7-15' '2000-3-21']
35 ['2015-2-8']
1
59 ['2016-6-11' '2005-12-6']
56 ['2016-12-25']
53 ['2002-12-5']
40 ['2006-4-27']
37 ['2011-8-20']
34 ['2018-6-28' '2013-3-26' '2012-7-31' '2004-6-1' '2001-2-15']
33 ['2015-2-3']
31 ['2009-1-11']
29 ['2015-6-9' '2011-5-17' '2010-10-16']
28 ['2007-4-26']
2
61 ['2009-8-15']
48 ['2014-4-17']
45 ['2013-11-14']
41 ['2008-3-25']
40 ['2017-8-19']
39 ['2015-1-27']
37 ['2006-1-21']
34 ['2003-11-27']
33 ['2005-9-3' '2000-11-21']
32 ['2008-1-10']
3
45 ['2015-1-8']
44 ['2015-7-26']
38 ['2016-5-10']
37 ['2011-11-10' '2008-12-18']
35 ['2011-6-30']
34 ['2014-4-19' '2009-8-11' '2001-6-5']
33 ['2011-1-6']
32 ['2014-1-16']
31 ['2000-8-24']
30 ['2013-9-14']
4
53 ['2003-2-18']
43 ['2016-10-25' '2006-6-27']
41 ['2012-7-5']
39 ['2015-10-17']
37 ['2011-2-24']
34 ['2016-3-19' '2008-11-6']
33 ['2015-6-23' '2010-2-13']
32 ['2004-4-10']
31 ['2014-4-29']
30 ['2017-6-20' '2008-1-19']
5
66 ['2000-4-20']
52 ['2003-5-9']
51 ['2009-12-10']
44 ['2010-5-4']
43 ['2004-7-24']
42 ['2006-1-26']
37 ['2010-11-23']
36 ['2017-3-11' '2013-10-3' '2007-5-17']
34 ['2015-7-28' '2013-7-16' '2012-5-8']
31 ['2009-6-27']
6
65 ['2011-10-11']
52 ['2016-2-18']
51 ['2002-2-19']
46 ['2007-2-22' '2005-8-11']
44 ['2000-11-16']
42 ['2009-3-8']
39 ['2013-1-19' '2008-9-20']
37 ['2013-5-23']
36 ['2018-6-26']
33 ['2011-2-13' '2008-3-4']
7
65 ['2008-5-6']
45 ['2009-5-5']
39 ['2018-3-8']
38 ['2014-10-2']
33 ['2011-2-8']
32 ['2011-10-29']
31 ['2003-8-28']
29 ['2012-3-20' '2009-1-20']
28 ['2012-9-25']
27 ['2006-7-13']
8
57 ['2007-4-19']
53 ['2014-10-25']
48 ['2009-2-19']
44 ['2004-11-13']
40 ['2016-7-30']
37 ['2008-9-2']
35 ['2017-8-12' '2010-5-27']
34 ['2001-11-5']
33 ['2016-1-10']
32 ['2003-10-23']
9
56 ['2008-5-20']
55 ['2012-1-31']
54 ['2010-7-6']
49 ['2002-5-9']
43 ['2014-2-11']
39 ['2013-1-3']
38 ['2017-1-7']
37 ['2018-7-7' '2009-9-27']
34 ['2009-4-28']
33 ['2018-2-1' '2004-9-24']

##### 2018年

In [24]:
# df_now.搅珠日期[0].year

In [23]:
# df = df_now[df_now.搅珠日期.values.year == 2018]
# print("2018年共开彩次数：", df.shape[0])

In [7]:
def no_shows_dict(cat):
    """
    
    """
    item_unique = df[cat].unique().tolist()
    item_dict = {}
    for item in item_unique:
        item_dict[item] = df.loc[df[cat] == item].index[0]
    item_dict = sorted(item_dict.items(), key = lambda x:x[1], reverse = True)
    print(cat)
    return item_dict

In [ ]:
print("2018年度截止144期，没出现的次数一览")
print(no_shows_dict("生肖"))
print(no_shows_dict("单双"))
print(no_shows_dict("波色"))
print(no_shows_dict("大小"))
print(no_shows_dict("五行"))
print(no_shows_dict("特头"))
print(no_shows_dict("尾数"))
print(no_shows_dict("合单双"))
print(no_shows_dict("家野"))
print(no_shows_dict("门数"))
print(no_shows_dict("段位"))
print(no_shows_dict("阴阳"))
print(no_shows_dict("天地"))
print(no_shows_dict("吉凶"))
print(no_shows_dict("黑白"))
print(no_shows_dict("色肖"))
print(no_shows_dict("笔画"))
print(no_shows_dict("男女"))

In [ ]:
def stats_func(x):
    "https://stackoverflow.com/questions/28931224/adding-value-labels-on-a-matplotlib-bar-chart"
    cnt = df[x].value_counts()
    fig = plt.figure(figsize=(10, 3))
    ax = cnt.plot(kind='bar')
    
    rects = ax.patches
    labels = ["{}".format(i) for i in cnt.values.tolist()]
    for rect, label in zip(rects, labels):
        height = rect.get_height()
        ax.text(rect.get_x() + rect.get_width() / 2, height + .5, label,
                ha='center', va='bottom', fontsize=12)
        
    ax.set_xlabel(x)
    plt.xticks(rotation=0, fontsize=12)
    plt.yticks([])

    fig.show()

In [ ]:
interact(stats_func, x=df.columns[3:].tolist())